In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
# Read data
train_data = pd.read_pickle("./data_base_train.pkl")
train_data = train_data.fillna(method='ffill', axis=0)
train_data.columns = train_data.columns.droplevel()
train_data.head()

C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

PRICE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,...,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE
DATE,,,,,,,,,,,,,,,,,,,,,
1990-01-02,77300.0,77400.0,77020.0,77020.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383113.9383,383155.65,382988.9700,382988.97
1990-01-03,76890.0,77030.0,76700.0,76740.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,382863.9600,383030.64,382863.9600,382905.63
1990-01-04,77080.0,77610.0,77000.0,77490.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,382947.3000,383072.31,382947.3000,383030.64
1990-01-05,77050.0,77280.0,76980.0,76980.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383238.9900,383280.66,383155.6500,383155.65
1990-01-08,77280.0,77300.0,77090.0,77200.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383113.9383,383197.32,383113.9383,383197.32

In [4]:
# Read data
test_data = pd.read_pickle("./data_base_test.pkl")
test_data = test_data.fillna(method='ffill', axis=0)
test_data.columns = test_data.columns.droplevel()
test_data.tail()

C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)
C:\Users\Cheong\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:162: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

PRICE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,...,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE
DATE,,,,,,,,,,,,,,,,,,,,,
2017-12-25,77000.0,77200.0,76990.0,77130.0,109810.0,109880.0,109340.0,109680.0,8540.0,8560.0,...,31580.0,31620.0,123965.0,124215.0,123645.0,123835.0,411293.3175,411293.3175,411282.900,411293.3175
2017-12-26,77160.0,77310.0,77120.0,77270.0,109810.0,109880.0,109340.0,109680.0,8750.0,8750.0,...,31580.0,31620.0,123895.0,123990.0,123535.0,123960.0,411293.3175,411293.3175,411282.900,411282.9000
2017-12-27,77260.0,77790.0,77240.0,77740.0,109420.0,109970.0,109260.0,109700.0,8810.0,8810.0,...,31590.0,31640.0,123960.0,124105.0,123810.0,124005.0,410595.3450,410616.1800,410595.345,410616.1800
2017-12-28,77690.0,78090.0,77680.0,77940.0,108940.0,109020.0,108940.0,109020.0,8750.0,8770.0,...,31500.0,31520.0,123955.0,124200.0,123920.0,124055.0,410616.1800,410637.0150,410616.180,410616.1800
2017-12-29,77960.0,78250.0,77880.0,78090.0,108520.0,108520.0,108520.0,108520.0,8800.0,8830.0,...,31410.0,31480.0,124040.0,124430.0,123335.0,123395.0,410616.1800,410637.0150,410616.180,410616.1800

In [5]:
# All 88 futures
futures = ['F_AD','F_BO','F_BP','F_C','F_CC','F_CD',
                           'F_CL','F_CT','F_DX','F_EC','F_ED','F_ES',
                           'F_FC','F_FV','F_GC','F_HG','F_HO','F_JY',
                           'F_KC','F_LB','F_LC','F_LN','F_MD','F_MP',
                           'F_NG','F_NQ','F_NR','F_O','F_OJ','F_PA',
                           'F_PL','F_RB','F_RU','F_S','F_SB','F_SF',
                           'F_SI','F_SM','F_TU','F_TY','F_US','F_W',
                           'F_XX','F_YM','F_AX','F_CA','F_DT','F_UB',
                           'F_UZ','F_GS','F_LX','F_SS','F_DL','F_ZQ',
                           'F_VX','F_AE','F_BG','F_BC','F_LU','F_DM',
                           'F_AH','F_CF','F_DZ','F_FB','F_FL','F_FM',
                           'F_FP','F_FY','F_GX','F_HP','F_LR','F_LQ',
                           'F_ND','F_NY','F_PQ','F_RR','F_RF','F_RP',
                           'F_RY','F_SH','F_SX','F_TR','F_EB','F_VF',
                           'F_VT','F_VW','F_GD','F_F']
len(futures)

88

In [6]:
# indicator data
indicator_train = pd.read_pickle("./data_indicators_base_train.pkl")
indicator_test = pd.read_pickle("./data_indicators_base_test.pkl")

In [17]:
tmp = train_data
tmp.head()

PRICE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,...,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE,OPEN,HIGH,LOW,CLOSE
DATE,,,,,,,,,,,,,,,,,,,,,
1990-01-02,77300.0,77400.0,77020.0,77020.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383113.9383,383155.65,382988.9700,382988.97
1990-01-03,76890.0,77030.0,76700.0,76740.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,382863.9600,383030.64,382863.9600,382905.63
1990-01-04,77080.0,77610.0,77000.0,77490.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,382947.3000,383072.31,382947.3000,383030.64
1990-01-05,77050.0,77280.0,76980.0,76980.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383238.9900,383280.66,383155.6500,383155.65
1990-01-08,77280.0,77300.0,77090.0,77200.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,383113.9383,383197.32,383113.9383,383197.32

In [64]:
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb

scaler = StandardScaler()

count = 0

# Build separate LGBM models for each individual future
#############for i in futures:
    
# Lag features by 1 day
x_train = train_data.shift(1).iloc[:,count:(count+4)]
x_train = x_train.dropna(axis=0)
y_train = train_data.iloc[:,(count+3)]
y_train = y_train.dropna(axis=0)
y_train = y_train.drop(y_train.index[0])
y_train = y_train.reset_index()
train_dates = y_train.iloc[:,0]
y_train = y_train.iloc[:,1]

x_test = test_data.shift(1).iloc[:,count:(count+4)]
x_test = x_test.dropna(axis=0)
y_test = test_data.iloc[:,(count+3)]
y_test = y_test.dropna(axis=0)
y_test = y_test.drop(y_test.index[0])
y_test = y_test.reset_index()
test_dates = y_test.iloc[:,0]
y_test = y_test.iloc[:,1]

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

d_train = lgb.Dataset(x_train, label=y_train)

#Set model params
params = {}
params['learning_rate'] = 0.5          
params['boosting_type'] = 'gbdt'
params['objective'] = 'regression'
params['metric'] = 'mse'
params['sub_feature'] = 0.8
params['num_leaves'] = 20               
params['min_data'] = 20
params['max_depth'] = 20

lgbmodel = lgb.train(params, d_train, 100)

#Prediction
y_pred = lgbmodel.predict(x_test)
    
############count = count + 4

In [65]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred)) 
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 373.68882379057715
Mean Squared Error: 233147.08623657125
Root Mean Squared Error: 482.85306899363417